<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="RFIDLibrary" Language="1033" Version="1.0.0.0" Manufacturer="Aqudei" UpgradeCode="f7e6a95d-6cb2-4004-ac31-d14cfbfbadff">
    <Package  InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    
    <Feature Id="AlarmAppFeature" Title="LibDeploy" Level="1">
      <ComponentGroupRef Id="AlarmAppComponents" />
    </Feature>

    <Feature Id="LibAdminFeature" Title="LibDeploy" Level="1">
      <ComponentGroupRef Id="LibAdminComponents" />
    </Feature>

    <Feature Id="LibClientFeature" Title="LibDeploy" Level="1">
      <ComponentGroupRef Id="LibClientComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="LibDeploy" />
      </Directory>
    </Directory>
  </Fragment>


  <Fragment>
    <ComponentGroup Id="AlarmAppComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="LibAdminComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="LibClientComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
    </ComponentGroup>
  </Fragment>

</Wix>